@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary: #3882f6;
    --dark: #1f2937;
    --white: #f9faf8;
    --gray: #e5e7eb;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
}

.hero-section, .card-section, .quote-section, .cta-section {
    padding: 100px 200px;
}

.header {
    padding: 0 200px;
    background-color: var(--dark);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 120px;
    filter: drop-shadow(0px 0px 1px #ffff3e);
    
}

.header ul {
    display: flex;
    gap: 24px;
}

.header a, .hero-content > p {
    font-size: 18px;
    color: var(--gray)
}

.hero-section {
    background-color: var(--dark);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.hero-content > h1 {
    font-size: 48px;
    color: var(--white);
    font-weight: 900;
}

.hero-content > p {
    margin-top: 12px;
    margin-bottom: 24px;
}

.hero-content > button {
    color: var(--white);
    background-color: var(--primary);
    font-size: 16px;
    font-weight: 600;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.card-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.card-section > h2 {
    font-size: 36px;
    color: var(--dark);
    font-weight: 900;
}

.card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
}

.card {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card > img {
    height: 250px;
    border: 4px solid var(--primary);
    border-radius: 12px;
}

.card > h3 {
    margin-top: 12px;
    margin-bottom: 6px;
}

.quote-section {
    background-color: var(--gray);
    display: flex;
    flex-direction: column;
}

.quote-section > p {
    font-size: 36px;
    color: var(--dark);
    font-weight: 300;
    font-style: italic;
}

.quote-section > span {
    font-size: 20px;
    font-weight: 700;
    align-self: flex-end;
}

.cta-container {
    background-color: var(--primary);
    color: var(--white);
    padding: 50px 100px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cta-container h3 {
    font-size: 20px;
}

.cta-container p {
    font-weight: 300;
}

.cta-container button {
    background-color: var(--primary);
    color: var(--white);
    border: 2px solid var(--white);
    border-radius: 8px;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.footer {
    padding: 50px 200px;
    background-color: var(--dark);
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.footer a {
    color: var(--primary);
    font-weight: 700;
}

.footer > h4, .footer > p {
    font-weight: 300;
}
